<div fxLayout="column" class="main-content">
  <ng-container
    *ngIf="false"
    [ngTemplateOutlet]="showMaintenance"
  ></ng-container>

  <ng-container
    *ngIf="showIntroContainer"
    [ngTemplateOutlet]="showIntro"
  ></ng-container>

  <estudy-ui-header
    [form]="form"
    [randomPlaceholder]="randomProductName"
    (loggedOut)="loggedOut($event)"
    (createdProduct)="createdProduct($event)"
    [ngStyle]="{ top: showMenu ? '0px' : useMobileView ? '-135px' : '-73px' }"
    [class.transition-collapse]="!showMenu"
  ></estudy-ui-header>
  <div
    class="content"
    [class.content--spacing]="!showScrollButton && !useMobileView"
    fxLayout="column"
    (scroll)="onWindowScroll($event.target)"
    #viewContainer
  >
    <div fxLayout="column" class="page-quote">
      <h1>Hledám učebnice nebo materiály</h1>
      <h1>co <b>nejsnadněji</b>...</h1>
    </div>
    <div
      fxLayout.xs="column"
      fxLayoutAlign="space-between end"
      fxLayoutGap="30px"
      fxLayoutGap.xs="0"
      class="filters"
    >
      <ng-container *ngIf="loaded; else filtersGhostLoading">
        <div
          fxFlex.xs="1 1 100%"
          fxFlex="1 1 50%"
          fxLayout="row wrap"
          fxLayout.xs="row"
          fxLayoutAlign="start end"
          fxLayoutGap="20px"
        >
          <mat-chip
            *ngFor="let category of categories | slice: 0:activeCategoriesCount"
            color="primary"
            class="chip"
            [class.chip--active]="activeFilters.category.includes(category)"
            (click)="toggleActiveCategory(category)"
            ><ng-container *ngIf="activeFilters.category.includes(category)"
              ><i class="fas fa-check"></i></ng-container
            >{{ category }}
          </mat-chip>
          <button
            mat-flat-button
            (menuOpened)="focusOnSearchField()"
            (menuClosed)="clearCategorySearchField()"
            [matMenuTriggerFor]="menu"
            class="black"
          >
            ZOBRAZIT VÍCE
          </button>
          <button
            *ngIf="activeFilters.category.length > 0"
            mat-flat-button
            (click)="clearActiveCategories()"
            class="warn"
          >
            Vypnout vybrané Kategorie
          </button>
          <mat-menu #menu="matMenu" yPosition="below" [overlapTrigger]="true">
            <div class="menu-content" fxLayout="column">
              <input
                #categorySearchElement
                type="text"
                [formControl]="categorySearch"
                (click)="$event.stopPropagation()"
                (keypress)="$event.stopPropagation()"
                placeholder="Název kategorie"
              />
              <div class="menu-content__categories">
                <button
                  mat-menu-item
                  (click)="addToActiveCategories(category)"
                  *ngFor="let category of filteredCategories"
                >
                  {{ category }}
                </button>
              </div>
            </div>
          </mat-menu>
        </div>

        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutAlign.xs="space-between center"
          fxLayoutGap="30px"
        >
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <div *ngIf="!useMobileView">ŘADIT PODLE</div>
            <mat-chip
              disableRipple
              fxFlex.xs="0 1 100%"
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutAlign.xs="center center"
              class="filters__sort"
              (click)="toggleSort()"
              [matTooltip]="sortBy === 'HIGH' ? 'Nejnovější' : 'Nejstarší'"
              matTooltipPosition="above"
            >
              DATUM VLOŽENÍ:&nbsp;
              <i
                *ngIf="sortBy === 'LOW'"
                class="fas fa-sort-amount-down-alt"
              ></i>
              <i
                *ngIf="sortBy === 'HIGH'"
                class="fas fa-sort-amount-up-alt"
              ></i>
            </mat-chip>
          </div>

          <div fxFlex.xs="0 0 50%" class="filters__items-count">
            <div>
              ZOBRAZENO <b>{{ countOfShowedProducts }}</b> PRODUKTŮ
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div
      fxLayout="row wrap"
      fxLayoutAlign="space-between start"
      class="body"
      #productsContainer
    >
      <ng-container *ngIf="loaded; else productsGhostLoading">
        <ng-container *ngIf="allProducts.length > 0; else itemsNotFound">
          <ng-container
            *ngFor="
              let product of allProducts | slice: 0:countOfShowedProducts;
              let i = index
            "
          >
            <mat-card
              fxLayout="column"
              fxLayoutAlign="space-between center"
              class="card"
              (dblclick)="toggleFavourite(product)"
              (click)="openProductDetail(product._id, $event)"
              [@fadeOut]
            >
              <img
                height="180px"
                loading="lazy"
                (load)="onImageLoad($event, i)"
                #productImage
              />
              <ng-container
                *ngIf="!product?.loaded || (!product.loaded && loadMore)"
                [ngTemplateOutlet]="imageRendering"
              ></ng-container>
              <div
                class="card__favourite"
                fxLayout="row"
                fxLayoutAlign="center center"
                (click)="toggleFavourite(product)"
                *ngIf="loggedUser && product.userId !== loggedUser?._id"
                matTooltip="Přidat do seznamu oblíbených" matTooltipPosition="below"
              >
                <i
                  [class]="
                    product.isFavourite ? 'fas fa-heart' : 'far fa-heart'
                  "
                  [class.card__favourite--isFavourite]="product.isFavourite"
                ></i>
              </div>
              <div
                class="card__status"
                [matTooltip]="getStatus(product.status).tooltip"
                matTooltipPosition="below"
                fxLayout="row"
                fxLayoutAlign="center center"
                *ngIf="
                  loggedUser &&
                  product.userId !== loggedUser?._id &&
                  product?.status
                "
              >
                <i
                  [class]="getStatus(product.status).icon"
                  [ngClass]="
                    getStatus(product.status).type === 'ACTIVE'
                      ? 'card__status--communication'
                      : 'card__status--sold'
                  "
                ></i>
              </div>
              <div [matTooltip]="product.title" matTooltipPosition="above">
                {{
                  product.title.length > productLineLength
                    ? product.title.slice(0, productLineLength) + "..."
                    : product.title
                }}
              </div>
              <div>{{ product.createdAt | date: "dd/MM/yyyy" }}</div>
              <div
                class="card__categories"
                fxLayout="column"
                fxLayoutAlign="end stretch"
              >
                <small>Kategorie:</small>
                <mat-chip-list fxLayout.xs="row">
                  <mat-chip
                    color="primary"
                    class="chip black"
                    (click)="openProductDetail(product._id, $event)"
                  >
                    {{ product.categories[0] }}
                  </mat-chip>
                  <ng-container
                    *ngIf="
                      product.categories.length > 1 &&
                      (!useMobileView || product.categories[0].length < 9)
                    "
                  >
                    <mat-chip
                      color="primary"
                      class="chip black"
                      (click)="openProductDetail(product._id, $event)"
                      >{{ product.categories.length - 1 }} DALŠÍ...</mat-chip
                    >
                  </ng-container>
                </mat-chip-list>
              </div>
            </mat-card>
          </ng-container>
          <ng-container
            *ngFor="let blankCard of cycleFor(claculateRestOfCards(true))"
          >
            <ng-container *ngIf="!loadMore; else cardGhostLoading">
              <mat-card
                fxLayout="column"
                fxLayoutAlign="space-between center"
                class="card hidden"
              >
              </mat-card>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>

    <div
      class="notification-container"
      fxLayout="row"
      fxLayout.xs="row wrap"
      fxLayoutAlign="start end"
      fxLayoutAlign.xs="end end"
      fxLayoutGap="20px"
    >
      <ng-container
        *ngIf="aplicationNeedReload"
        [ngTemplateOutlet]="reloadCard"
      ></ng-container>
      <ng-container *ngIf="useMobileView" [ngTemplateOutlet]="addButton">
      </ng-container>
      <ng-container
        *ngIf="showScrollButton"
        [ngTemplateOutlet]="scrollToTop"
      ></ng-container>
    </div>
  </div>
  <estudy-ui-footer></estudy-ui-footer>
</div>

<ng-template #showMaintenance>
  <div
    class="eStudy eStudy-maintenance"
    fxLayout="row"
    fxLayoutAlign="center start"
    [@fadeOutContainer]
  >
    <i class="fas fa-cog fa-spin"></i>
    <h1>
      V aplikaci pobíhají pracovití knihovníci, aby zkontrolovali vaše knihy.
    </h1>
    <img class="maintenance" src="../../assets/imgs/logo-white.png" />
  </div>
</ng-template>

<ng-template #showIntro>
  <div
    class="eStudy eStudy-intro"
    fxLayout="row"
    fxLayoutAlign="center start"
    [@fadeOutContainer]
  >
    <img src="../../assets/imgs/infinite-loader.gif" />
    <h1>eStudy</h1>
  </div>
</ng-template>

<ng-template #itemsNotFound>
  <h1 class="center-self" [@fadeIn]>
    Položky s názvem <b>{{ form["controls"]["search"].value }}</b> nebyly
    nalezeny
  </h1>
</ng-template>

<ng-template #filtersGhostLoading>
  <div fxLayout="row wrap" fxLayout.xs="row" fxLayoutGap="20px">
    <ng-container *ngFor="let num of cycleFor(4)">
      <div class="ghost-loading__filter"></div>
    </ng-container>
  </div>
  <div fxLayout="row" fxLayoutGap="20px">
    <ng-container *ngFor="let num of cycleFor(2)">
      <div class="ghost-loading__filter"></div>
    </ng-container>
  </div>
</ng-template>

<ng-template #productsGhostLoading>
  <ng-container *ngFor="let num of cycleFor(getRowItemsCount())">
    <ng-container [ngTemplateOutlet]="cardGhostLoading"></ng-container>
  </ng-container>
</ng-template>

<ng-template #cardGhostLoading>
  <mat-card fxLayout="column" fxLayoutAlign="space-between center" class="card">
    <div class="ghost-loading__card-img"></div>
    <div class="ghost-loading__card-title"></div>
    <div class="ghost-loading__card-timestamp"></div>
    <div class="ghost-loading__filter"></div>
  </mat-card>
</ng-template>

<ng-template #imageRendering>
  <div class="rendering" [@fadeOutContainer]>
    <div class="ghost-loading__card-img">&nbsp;</div>
  </div>
</ng-template>

<ng-template #reloadCard>
  <mat-card
    class="reload-card"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    [@fadeOut]
  >
    <i class="fas fa-info-circle"></i>
    <div>Aplikace potřebuje obnovit</div>
    <button mat-flat-button (click)="reloadPage()">Obnovit</button>
  </mat-card>
</ng-template>

<ng-template #scrollToTop>
  <mat-card class="scroll-top-button" [@fadeOut] (click)="scrollTop()">
    <i class="fas fa-arrow-alt-circle-up"></i>
  </mat-card>
</ng-template>

<ng-template #addButton>
  <mat-card class="scroll-top-button" [@fadeOut] (click)="openCreationDialog()">
    <i class="fas fa-plus"></i>
  </mat-card>
</ng-template>
