<div fxLayout="column" class="main-content">
  <estudy-ui-header></estudy-ui-header>
  <div class="body">
    <div fxLayout="column">
      <h1 class="body__quote">Bez myšlenky a bez člověka by to nešlo...</h1>
      <h2>
        <i
          >"Nemůžeme nutit myšlenky. Úspěšné nápady jsou výsledkem pomalého
          růstu."</i
        >
        &nbsp;Toto je citát, který mě provází celým vývojem. Jmenuji se Marcel
        Palko a jsem zakladatelem aplikace eStudy. Jsem medior frontend vývojář,
        v oblasti webového vývoje se pohybuji již třetím rokem.
      </h2>
      <h2>
        Proč vlastně studentský bazar ? Při nástupu na střední školu kupujete
        mnoho knih, které třeba ani nevyužijete. Problém nastává v momentě kdy
        nevíme co s nimi, za původní cenu je neprodáme a na konec je prodáme za
        čokoládu kamarádovi nebo rodinnému příslušníkovi. Ať chceme nebo ne
        peníze zpět nezískáme. <b>Proto vznikl eStudy,</b> mé životní zkušenosti
        mě donutili vytvořit něco, co je řešením.
      </h2>
    </div>
    <div
      class="body__creator"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="30px"
    >
      <div class="body__creator-box" fxLayout="column" fxLayoutGap="10px">
        <img src="../../../assets/imgs/me.JPG" width="350px" />
        <h3>
          <b>Marcel Palko </b><br />
          Tvůrce aplikace
        </h3>
      </div>

      <div class="body__creator__links" fxLayoutGap="30px">
        <mat-chip-list>
          <mat-basic-chip color="primary" class="chip">
            <a href="https://www.linkedin.com/in/marcelpalko/">LinkedIn</a>
          </mat-basic-chip>
          <mat-basic-chip color="primary" class="chip">
            <a href="https://github.com/MarcelPalko">Github repos</a>
          </mat-basic-chip>
          <mat-basic-chip color="primary" class="chip">
            <a href="https://linktr.ee/marcelpalko">Linktree</a>
          </mat-basic-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>
</div>
