@import "../../../assets/styles/variables";

:host {
  flex: 0 0 100%;
}

.header {
  height: 70px;
  padding: 0 20px;
  z-index: 6;

  background-color: $primary-color;
  color: #fff;

  img {
    width: 40px;
  }

  form {
    margin-left: 122px;
  }

  &__search-field {
    width: 70%;

    font-weight: bold;
    text-align: center;

    i {
      margin-left: -35px;
      z-index: 5 !important;
      font-size: 20px;

      color: #000;
    }

    input {
      padding: 10px 45px 10px 20px;

      font-size: 20px;
      outline: none;
      border: none;
      border-radius: 3px;
      transition: width 250ms ease-in-out;
    }

    &--collapse {
      width: 20%;
    }

    &--expand {
      width: 70%;
    }
  }

  &-title {
    cursor: pointer;
    margin-left: 30px;
  }

  &-controls {
    margin-right: 20px;

    i {
      position: relative;
      z-index: 6;
      cursor: pointer;
      font-size: 20px;
      padding: 6px;
    }

    a {
      position: relative;
    }

    a:hover .header__user-dialog,
    .header__user-dialog:hover,
    a:hover .header__notifications-dialog,
    .header__notifications-dialog:hover {
      display: flex !important;
      flex-direction: column;
      box-sizing: border-box;
      place-content: center space-between;
      align-items: center;
    }

    a:hover .header__notifications-dialog,
    .header__notifications-dialog:hover {
      gap: 20px;
      place-content: center start;
    }

    a:hover i {
      background-color: #000;
      color: #fff;
    }

    button:first-child i {
      z-index: inherit;
      font-size: inherit;
      padding: 0;
      margin-left: 5px;
      margin-bottom: 2px;
    }

    .header__user-dialog {
      display: none;
      position: absolute;
      top: 0;
      left: -260px;
      width: 300px;
      height: 230px;
      padding: 15px;
      border: 1px solid #000;
      border-radius: 4px;
      z-index: 7;
      background-color: #fff;

      h2 {
        color: $primary-color;
      }

      button {
        background-color: $primary-color;
      }

      &__avatar {
        width: 80px;
        height: 80px;

        border-radius: 4px;
        font-size: 30px;
        text-transform: uppercase;
        color: #fff;
        background-color: #000000;
      }
    }
  }

  .header__notifications-dialog {
    display: none;
    position: absolute;
    top: 0;
    left: -470px;
    width: 500px;
    min-height: 230px;
    max-height: 300px;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 4px;
    z-index: 999;
    padding-right: 17px;
    box-sizing: content-box;

    overflow-y: auto;
    background-color: #fff;
    color: #000;
    scrollbar-width: thin;

    div {
      width: 100%;
    }

    i {
      border-radius: 4px;
    }

    i.delete {
      background-color: #d50000;
    }

    i.message {
      background-color: #3f51b5;
    }

    i.fa-times {
      padding: 0;
      color: #d50000;
      background-color: #fff;
    }
  }
}

.header-second {
  padding: 10px;
  background-color: #000;

  form {
    max-width: 100% !important;
  }
}

.length-circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  background-color: $warn-color;
  color: #fff;
  top: 4px;
  left: 20px;
  z-index: 6;
  font-size: 12px;
}

.logged-spacer {
  margin-right: 122px;
}

.white {
  border: 1px solid #000000;
  background-color: #fff !important;
  color: #000000;
}

.glowAnimation {
  border: 1px solid transparent;
  animation: glowUpAndDown 2s ease-in-out infinite;
}

.announcement-bar {
  padding: 7px 50px;
  background-color: rgb(72, 72, 72, 0.7);
  color: #fff;
  
  div {
    font-size: 18px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 599px) {
  .header {
    &-title {
      margin-left: 0;
    }

    &-controls {
      margin-right: 0;

      .header__user-dialog {
        top: 50px;
        left: -275px;

        &-spacer {
          left: calc(100% - 190px);
        }
      }

      .header__notifications-dialog {
        top: 50px;
        width: 300px;
        left: calc(100% - 310px);
        text-align: center;
      }
    }
  }
}

@keyframes glowUpAndDown {
  0% {
    box-shadow: 0px 0px 30px 3px rgb(255, 255, 255, 0);
  }

  50% {
    box-shadow: 0px 0px 30px 3px rgb(255, 255, 255, 1);
  }

  100% {
    box-shadow: 0px 0px 30px 3px rgb(255, 255, 255, 0);
  }
}
