@import "../../../../assets/styles/variables";

.footer {
  position: relative;
  height: 30px;
  padding: 0 20px;

  background-color: $primary-color;
  color: #fff;
  font-size: 12px;

  button:first-child {
    max-height: 20px;
    font-size: 12px;
  }

  &__version {
    margin-top: -7px !important;
  }

  &__title {
    button {
      margin-left: 5px;
    }
  }
}
